* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

body {
    background-image: url("ordible-background.webp");
    background-position: center;
    background-size: cover;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.contents1 {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 7% auto auto auto;
}

.logo-text {
    font-size: 80px;
}

.search {
    outline: none;
    width: 600px;
    height: 45px;
    margin: 20px auto 0px auto;
    border: none;
    border-radius: 30px;
    background-color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    transition: box-shadow 0.2s ease;
}

.search:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.ordiofy {
    width: 180px;
    height: 44px;
    border: none;
    border-radius: 25px;
    font-size: medium;
    background-color: #da0707;
    color: whitesmoke;
    transition: background-color 0.1s ease;
    transition: width 0.1s ease;
    cursor: pointer;
    margin: 10px auto 25px auto;
}

.ordiofy:hover {
    background-color: #e60808;
    width: 185px;
}

/* ------RESULTS DIV ----- */
.result {
    width: 500px;
    margin-bottom: 30px;
    height: 122px;
    display: none;
    grid-template: 1fr / 3fr 4fr;
    border-radius: 8px;
    padding: 5px;
    background-color: whitesmoke;
}

.resultsThumbnail {
    width: 200px;
    height: 113px;
    height: fit-content;
    display: inline-block;
}

.resultsThumbnail>img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.video-details {
    margin-left: 10px;
    display: grid;
    grid-template: auto auto auto / 1fr;
    /* flex-direction: column; */
    color: #212121;
    overflow: hidden;
    height: 113px;
}

.author {
    display: inline-block;
    color: #474747;
}

.optionsButtons>button {
    width: 120px;
    height: 35px;
    border-radius: 16px;
    font-size: medium;
    cursor: pointer;
    transition: width 0.2s ease-in-out;
}

.optionsButtons>button:hover {
    width: 130px;
}

.optionsButtons {
    justify-content: space-between;
    margin-top: auto;
    align-items: flex-end;
    display: flex;
}

#player {
    background-color: transparent;
    border: 1px #e60808 solid;
    color: #212121;
    margin-right: 5px;
}

#downloadButton {
    background-color: #e60808;
    border: 1px #e60808 solid;
    color: white;
    margin-left: 5px;
}

/* ----------------- */
@media screen and (max-width: 480px) {

    /* Mobile Phones */
    .contents {
        margin: 30% auto auto auto;
    }

    .optionsButton {
        margin: 10px 5px;
    }

    .logo-text {
        font-size: 50px;
    }

    .search {
        width: 300px;
        height: 40px;
        margin: 30px auto 10px auto;
    }

    button {
        width: 110px;
        height: 35px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {

    /* Tablets and Ipads */
    .contents {
        margin: 20% auto auto auto;
    }

    .logo-text {
        font-size: 70px;
    }

    .search {
        width: 400px;
        height: 45px;
        margin: 35px auto 10px auto;
    }

    button {
        width: 130px;
        height: 40px;
    }
}
