@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Karla:wght@300;400&family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap');

.container {
    display: grid;
    grid-template: auto 1fr/ 1fr;
    padding: 20px;
    justify-content: center;
    /* justify-items: center; */
}

#results-heading {
    text-align: center;
    margin: 10px auto;
}

#search-text {
    color: #da0707;
}

.results-wrapper {
    margin-top: 10px;
    padding: 10px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    justify-content: center;
    justify-items: center;
    background-color: #ececec1e;
}

.result {
    width: 500px;
    margin-bottom: 10px;
    height: fit-content;
    display: flex;
    border-radius: 8px;
    padding: 5px;
}

.result:hover {
    background-color: #e7e5e5;
}

.video-details {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.searchThumbnail>img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.searchThumbnail {
    position: relative;
    display: inline-block;
}

.author {
    display: inline-block;
}

/* Places the duration text in front of the author */
.duration {
    color: white;
    padding: 2px;
    background-color: #da07079c;
    font-size: 12px;
}

.video-details p,
.extras p {
    color: #7e7b7b;
}

.icons {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 5px;
    align-items: flex-end;
}

.icons>a>i {
    font-size: 25px;
    cursor: pointer;
}
