@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Karla:wght@300;400&family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 70px auto 50px / 1fr;
    font-family: 'Hammersmith One', sans-serif;
    font-family: 'Karla', sans-serif;
    font-size: medium;
    background-color: whitesmoke;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}



header,
footer {
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
    background-color: whitesmoke;
    color: #00072D;
}

header {
    border-bottom: 1px solid #dbd9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    grid-area: extras;
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    justify-self: end;
}

footer>p {
    grid-area: githubStar;
}

footer {
    border-top: 1px solid #dbd9d9;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    grid-template-areas: ". githubStar githubStar extras";
    align-items: center;
    justify-items: center;
}

.fa {
    color: #00072D;
}

footer>p {
    display: inline;
}

.logo {
    flex: 1;
    max-width: 200px;
    height: 75px;
    background-image: url("../images/clear-black.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 480px) {

    /* Mobile Phones */
    .logo {
        flex: 1;
        max-width: 133px;
        height: 40px;
    }
}
